.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vCenter {
  padding: 15% 0 15% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.whishListItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
}